* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(2vmin + 10px);
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    --bg-color: #201E1F;
    --primary: #DBCDC6;
    --animation-time: 10s;
    color: var(--primary);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    counter-reset: rednibr;
}

/* HOMEPAGE */

.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 10vh;
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

.header h2 {
    font-size: 1rem;
}

.line {
    width: 75vw;
    height: 3px;
    background-color: var(--primary);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

footer a {
    color: var(--primary);
}

@media screen and (min-width: 871px) {
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 870px) {
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 330px) {
    footer p {
        font-size: 4vw;
    }
}

/* HOMEPAGE END */
/* DASH */

.dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash div {
    width: 100%;
}

#card {
    display: flex;
    border: 2px white solid;
    padding: 0.3rem;
    margin-bottom: 10px;
}

#card, #card img {
    border-radius: 0.3rem;
}

.nameholder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#settings {
    margin-top: 5vh;
}

/* DASH END */
/* LEADERBOARD */

.leaderboard {
    width: 90vw;
    height: 60vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.leaderboard .row {
    width: 100%;
    display: flex;
}

.leaderboard .row:not(:last-child) {
    border-bottom: 1px solid var(--primary);
}

.leaderboard .row .name {
    width: 100%;
    text-align: center;
}

.leaderboard .row .score {
    text-align: right;
    border-left: 1px solid var(--primary);
    padding-left: 2px;
}

@media screen and (max-width: 425px) {
    .leaderboard .row {
        font-size: 0.75rem;
    }
}

.leaderboard .row::before {
    counter-increment: rednibr;
    content: counters(rednibr, '.', decimal-leading-zero);
    border-right: 1px solid var(--primary);
    padding-right: 2px;
}

/* LEADERBOARD END */
/* SETTINGS */

.settings {
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 60vh;
    border-radius: 1rem;
    border: 3px solid var(--primary);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.settings .scroll {
    overflow-y: scroll;
}

.settings section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

@media screen and (max-width: 400px) {
    .settings {
        width: 90vw;
    }
    .settings section {
        padding: 5px 10px;
    }
    #avatar .multirow .subtext {
        font-size: 0.7rem !important;
    }
}

.settings section:not(:last-child) {
    border-bottom: 2px solid var(--primary);
}

#lbsetting input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}

#avatar .multirow {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#avatar .multirow .subtext {
    font-size: 0.8rem;
    opacity: 0.8;
}

#avatar-box {
    cursor: pointer;
}

.settings #save-button {
    position: absolute;
    bottom: 0;
}

/* Hide scrollbar */
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* SETTINGS END */
button {
    font: inherit;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

#question {
    text-align: center;
}

#error {
    margin-top: 5%;
}

.hidden {
    display: none;
}

.progress {
    width: 0;
    height: 1rem;
    animation: progBar var(--animation-time);
}

@keyframes progBar {
    from {
        width: 100%;
        background-color: #2774a0;
    }
    20% {
        background-color: #2774a0;
    }
    30% {
        background-color: #dbba29;
    }
    to {
        width: 0%;
        background-color: #bc0b0b;
    }
}

.solo {
    border: white 0.115rem solid;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

/* NUMBER INPUT FIX */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}