* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(2vmin + 10px);
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    --bg-color: #201E1F;
    --primary: #DBCDC6;
    --animation-time: 10s;
    color: var(--primary);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* HOMEPAGE */

/* .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.title h1 {
    font-size: 1.5rem;
    margin-left: 1.4rem;
    letter-spacing: 1.4rem;
    text-transform: uppercase;
}

.title h2 {
    font-size: 1rem;
} */

.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 10vh;
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

.header h2 {
    font-size: 1rem;
}

.line {
    width: 75vw;
    height: 3px;
    background-color: var(--primary);
}

footer {
    position: fixed;
    bottom: 0;
    /* padding: 1rem; */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

@media screen and (min-width: 871px) {
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 870px) {
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 330px) {
    footer p {
        font-size: 4vw;
    }
}

/* HOMEPAGE END */

button {
    font: inherit;
    width: 100%;
    padding: 5px;
}

#question {
    text-align: center;
}

#error {
    margin-top: 5%;
}

#firebase-auth {
    margin: auto;
}

#card {
    display: flex;
    border: 0.115rem white solid;
    padding: 0.3rem;
    width: clamp(260px, 50vw, 100vw);
}

#card, #card img {
    border-radius: 0.3rem;
}

#card div {
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    width: clamp(260px, 50vw, 100vw);
}

.hidden {
    display: none;
}

#logout {
    margin-top: 5vh;
}

.progress {
    width: 0;
    height: 1rem;
    animation: progBar var(--animation-time);
}

@keyframes progBar {
    from {
        width: 100%;
        background-color: #2773a0;
    }
    20% {
        background-color: #2773a0;
    }
    30% {
        background-color: rgb(218, 185, 40);
    }
    to {
        width: 0%;
        background-color: rgb(187, 11, 11);
    }
}

table {
    border: 0.12rem solid white;
    border-collapse: collapse;
    caption-side: bottom;
}

table td {
    border: 2px white solid;
    padding: 0.2rem;
}

.solo {
    border: white 0.115rem solid;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

/* NUMBER INPUT FIX */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}